<template>
  <section id="about" class="overflow-hidden">
    <v-row class="white" no-gutters>
      <v-col class="deep-orange lighten-1 pa-5" cols="12" md="6">
        <base-bubble-1 style="transform: translate(5%, -5%)" />

        <base-heading class="black--text">
          Fix It
        </base-heading>

        <base-text class="mb-5">
          During the Fix It round, builders attempt to fix any problems in their
          Build It submissions that were identified by other breaker teams
        </base-text>
      </v-col>

      <v-col class=" hidden-sm-and-down" md="6">
        <v-img :src="require('@/assets/fix.png')" height="100%" contain />
      </v-col>
    </v-row>
  </section>
</template>

<script>
export default {
  data: () => ({
    skills: [
      {
        name: 'Web Design',
        value: 100
      },
      {
        name: 'Web Development',
        value: 75
      },
      {
        name: 'Web Support',
        value: 90
      }
    ]
  })
}
</script>
