<template>
  <section id="recent-projects" class="overflow-hidden">
    <v-row no-gutters>
      <v-col
        class="cyan darken-2 text-center pa-5 white--text"
        cols="12"
        md="6"
      >
        <!-- <base-bubble-1 style="transform: rotate(180deg) translateX(15%)" /> -->

        <base-heading> Build It </base-heading>

        <base-text class="mb-5">
          During the Build It round, builders write software that implements the
          system prescribed by the contest.<br />
          Steps: 1. Fork the problem repository <br />2. Work on your solution
          <br />3. Submit your build <br />4. Check Here for result
        </base-text>

        <v-card
          color="amber lighten-5
"
        >
          <v-container class="pa-2">
            <v-row>
              <v-col v-for="build in builds" :key="build" cols="12" md="6">
                <a href="#">
                  <v-img
                    :src="require(`@/assets/${build}.png`)"
                    :aspect-ratio="2.3"
                    contain
                  />
                </a>
              </v-col>
            </v-row>
          </v-container>
        </v-card>
      </v-col>

      <v-col class="hidden-sm-and-down" md="6">
        <!-- <base-bubble-1 style="transform: rotate(180deg) translateX(35%)" /> -->
        <!-- <h1>Using computed method : "{{ getText('pipeline-report.csv') }}"</h1> -->
        <v-img :src="require('@/assets/flag.png')" :aspect-ratio="10" contain />
        <v-card>
          <v-card-title>
            <v-text-field
              v-model="search"
              append-icon="mdi-magnify"
              label="Search"
              single-line
              hide-details
            ></v-text-field>
          </v-card-title>
          <v-data-table
            :headers="headers"
            :items="myJson"
            :search="search"
          ></v-data-table>
        </v-card>
      </v-col>
    </v-row>
  </section>
</template>

<script>
import json from '@/data/pipeline-report-builder.json'
export default {
  name: 'RecentProjects',
  data: () => ({
    builds: ['build1', 'build2', 'build3', 'build4'],
    myJson: json,
    search: '',
    headers: [
      {
        text: 'Project ID',
        align: 'start',
        value: 'id'
      },
      { text: 'CI status', value: 'status' }
    ]
  })
}
</script>
