<template>
  <section id="welcome" class="overflow-hidden">
    <v-row>
      <v-col md="6">
        <v-img :src="require('@/assets/coding.png')" height="100vh" />
      </v-col>
      <v-col cols="12" md="6">
        <base-bubble-1 style="transform: rotate(180deg) translateY(25%)" />

        <v-row align="center" justify="center">
          <v-col cols="10" md="6">
            <base-heading>Welcome!</base-heading>
            <base-text>
              Welcome to Heriot Watt Univerty's Build it Break it Fix coding
              competition. The contest evaluates participants' abilities to
              develop secure and efficient programs.
            </base-text>
            <base-btn class="mt-4" href="https://builditbreakit.org/">
              Learn More
            </base-btn>
          </v-col>
        </v-row>

        <base-bubble-2
          style="transform: rotate(180deg) translate(-200px, -15%)"
        />
      </v-col>
    </v-row>
  </section>
</template>
